[submodule "themes/academic"]
	path = themes/academic
	url = https://github.com/gcushen/hugo-academic.git
[submodule "themes/hugo-split-theme"]
	path = themes/hugo-split-theme
	url = https://github.com/christianmendoza/hugo-split-theme
