div.home-icons {
  padding-top: 40px;
  padding-bottom: 30px;
}

div.home-icons ul {
  display: flex;
  flex-direction: row;
  padding: 0;
  list-style: none;
  text-align: center;
  flex-wrap: wrap;
}

div.home-icons ul li {
  flex: 1;
}
